.header {
  max-width: inherit;
  width: 100%;
  height: 50px;
  background: rgba(217, 217, 217, 0.3);
  position: fixed;
  z-index: 99;
}
.header__wrapper {
  max-width: 1315px;
  margin: auto;
  height: 100%;
}
.header__wrapper .header__nav {
  height: 100%;
}
.header__wrapper .header__nav .nav__list {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.header__wrapper .header__nav .nav__list-item {
  width: 120px;
  display: flex;
  justify-content: center;
}
.header__wrapper .header__nav .nav__list-item a {
  text-transform: uppercase;
  font-size: 20px;
  color: #fff;
  font-weight: 900;
  transition: all 0.4s;
  text-shadow: -4px 3px rgba(0, 0, 0, 0.25);
}
.header__wrapper .header__nav .nav__list-item a:hover {
  cursor: pointer;
  font-size: 25px;
  color: rgb(0, 255, 240);
}

.preview {
  width: 100%;
  min-height: 900px;
  background: url(../img/bg__preview.png);
  position: relative;
}
.preview h1 {
  position: absolute;
  margin: 0;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #fff;
  left: 115px;
  bottom: 65px;
}
.preview h1 span {
  color: rgb(0, 255, 240);
  font-weight: 600;
}
.preview__watch {
  position: absolute;
  width: 105px;
  height: 100px;
  transform: rotate(6.5deg);
  left: 557px;
  bottom: 294px;
  color: rgba(255, 255, 255, 0.4);
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.preview__watch-date {
  font-size: 16px;
}
.preview__watch-weekday {
  margin: 5px 0 0 0;
  font-size: 13px;
}
.preview__watch-time {
  margin: 20px 0 0 17px;
  font-size: 25px;
  width: 105px;
  text-align: start;
}

.about {
  width: 100%;
  min-height: 850px;
  display: flex;
  background: rgb(29, 29, 29);
  position: relative;
}
.about__me {
  max-width: 960px;
  padding: 0 0 0 65px;
  background: rgb(37, 37, 37);
  min-height: 100%;
  position: relative;
  flex: 1;
}
.about__me-wrapper {
  display: flex;
  -moz-column-gap: 45px;
       column-gap: 45px;
  height: 100%;
}
.about__me-wrapper-photo {
  max-width: 382px;
  min-width: 360px;
  flex: 1;
}
.about__me-wrapper-photo .photo__bg {
  height: 410px;
  background: rgba(117, 51, 53, 0.7);
  position: relative;
  margin: 85px 0 0 0;
}
.about__me-wrapper-photo .photo__bg-small {
  width: 82.5%;
  height: 409px;
  z-index: 2;
  background: rgba(201, 68, 72, 0.8);
  position: absolute;
  bottom: 0;
  right: 0;
}
.about__me-wrapper-photo .photo__bg img {
  position: absolute;
  bottom: 0;
  z-index: 3;
  width: 100%;
}
.about__me-wrapper-photo .languages__wrapper {
  margin: 20px 0 0 0;
  position: relative;
}
.about__me-wrapper-photo .languages__wrapper h2 {
  text-align: center;
}
.about__me-wrapper-photo .languages__wrapper-items {
  max-width: 382px;
  height: 200px;
  flex: 1;
  display: flex;
  justify-content: space-between;
  margin: 35px 0 0 0;
}
.about__me-wrapper-photo .languages__wrapper-items .languages__item {
  width: 87px;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.about__me-wrapper-photo .languages__wrapper-items .languages__item h3 {
  transform: rotate(-90deg);
  transform-origin: 0% 50%;
  margin: 0;
  height: 27px;
  position: absolute;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #fff;
  bottom: -12px;
  left: 15px;
}
.about__me-wrapper-photo .languages__wrapper-items .languages__item-container {
  width: 50px;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: flex-end;
}
.about__me-wrapper-photo .languages__wrapper-items .languages__item-container-active {
  background: rgb(0, 255, 240);
  width: 100%;
}
.about__me-wrapper-photo .languages__wrapper-items .languages__item-container .russian {
  height: 100px;
}
.about__me-wrapper-photo .languages__wrapper-items .languages__item-container .belarusian {
  height: 80px;
}
.about__me-wrapper-photo .languages__wrapper-items .languages__item-container .english {
  height: 50px;
}
.about__me-wrapper-content {
  display: flex;
  flex-direction: column;
  height: calc(100% - 35px);
  row-gap: 110px;
  position: relative;
  padding: 35px 0 0 0;
}
.about__me-wrapper-content-items h2 {
  z-index: 2;
}
.about__me-wrapper-content-items p {
  margin: 50px 0 0 0;
}
.about__me-wrapper:after {
  content: "";
  position: absolute;
  width: calc(100% - 65px);
  height: 85px;
  top: 0;
  background: rgba(117, 51, 53, 0.7);
  z-index: 1;
}
.about .education {
  max-width: 960px;
  padding: 0 65px 0 0;
  background: rgb(29, 29, 29);
  flex: 1;
}
.about .education__text {
  margin: 0 0 0 80px;
}
.about .education__text h2 {
  margin: 35px 0 0 0;
}
.about .education__text p {
  margin: 50px 0 0 0;
}
.about .education__text p:nth-child(2) {
  margin: 30px 0 0 0;
}
.about .education__skills {
  margin: 78px 0 0 80px;
}
.about .education__skills-wrapper {
  max-width: 795px;
  height: 333px;
  margin: 58px 0 0 0;
  display: flex;
  justify-content: space-between;
}
.about .education__skills-wrapper-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 10px 0 0;
}
.about .education__skills-wrapper-name li {
  text-transform: uppercase;
  font-size: 25px;
}
.about .education__skills-wrapper-value {
  max-width: 600px;
  height: 333px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about .education__skills-wrapper-value .skills__container {
  height: 25px;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
}
.about .education__skills-wrapper-value .skills__container .skills__value {
  height: 100%;
  background: rgb(0, 255, 240);
}
.about .education__skills-wrapper-value .skills__container .html {
  width: 55%;
}
.about .education__skills-wrapper-value .skills__container .css {
  width: 40%;
}
.about .education__skills-wrapper-value .skills__container .js {
  width: 20%;
}
.about .education__skills-wrapper-value .skills__container .figma {
  width: 40%;
}
.about .education__skills-wrapper-value .skills__container .github {
  width: 30%;
}
.about .education:after {
  content: "";
  position: absolute;
  width: 46.1%;
  height: 85px;
  top: 0;
  background: rgba(117, 51, 53, 0.5);
  z-index: 1;
}

.about__title {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  font-size: 32px;
  z-index: 2;
  position: relative;
}

.about__text {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 30px;
}

@media screen and (max-width: 1780px) {
  .about__me-wrapper-content {
    row-gap: 60px;
  }
  .about__me-wrapper-content p {
    margin: 40px 0 0 0;
  }
}
@media screen and (max-width: 1615px) {
  .about__me-wrapper-content {
    row-gap: 50px;
  }
  .about__me-wrapper-content p {
    margin: 30px 0 0 0;
    font-size: 25px;
  }
}
@media screen and (max-width: 1500px) {
  .about {
    flex-direction: column;
  }
  .about__me {
    padding: 0;
    max-width: 100%;
    min-height: 820px;
  }
  .about__me-wrapper {
    justify-content: center;
  }
  .about__me-wrapper-content {
    row-gap: 110px;
  }
  .about__me-wrapper-content p {
    margin: 50px 0 0 0;
    font-size: 30px;
  }
  .about__me-wrapper:after {
    display: none;
  }
  .about .education {
    padding: 0;
    width: 960px;
    margin: 0 auto;
  }
  .about .education:after {
    display: none;
  }
}
.portfolio {
  width: 100%;
  min-height: 850px;
  background: rgb(29, 29, 29);
}
.portfolio__wrapper {
  max-width: 1720px;
  margin: 0 auto;
  padding: 60px 10px 0 10px;
  min-height: 720px;
  display: flex;
  justify-content: space-between;
}
.portfolio__item {
  width: 500px;
  position: relative;
}
.portfolio__item-content {
  position: absolute;
  width: 370px;
  height: 390px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(6, 6, 6, 0.4);
  opacity: 0;
  transition: all 0.5s;
}
.portfolio__item-content h2 {
  color: rgb(0, 255, 240);
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  margin: 50px 0 0 0;
}
.portfolio__item-content p {
  color: rgb(0, 255, 240);
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 20px;
  width: 300px;
  margin: 30px auto 0;
}
.portfolio__item-content .button__wrapper {
  width: 300px;
  line-height: 45px;
  position: absolute;
  bottom: 55px;
  left: 50%;
  transform: translate(-50%, 0);
  background: linear-gradient(90deg, #3a9a94 45%, #753335 60%);
  background-size: 400% 400%;
  background-position: 100% 49%;
  text-align: center;
  color: #fff;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 25px;
  display: inline-block;
  padding-bottom: 5px;
  transition: all 2s;
}
.portfolio__item-content .button__wrapper span {
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(-45deg);
  top: 19px;
  right: 100px;
}
.portfolio__item-content .button__wrapper span:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  top: 11px;
  right: -13px;
  transition: all 0.6s;
  transition-delay: 0.6s;
  opacity: 0;
}
.portfolio__item-content .button__wrapper span:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  top: 22px;
  right: -24px;
  transition: all 0.6s;
  transition-delay: 0.3s;
  opacity: 0;
}
.portfolio__item-content .button__wrapper:hover {
  background-position: 0% 49%;
}
.portfolio__item-content .button__wrapper:hover span:after {
  transition-delay: 0.3s;
  opacity: 1;
}
.portfolio__item-content .button__wrapper:hover span:before {
  transition-delay: 0.6s;
  opacity: 1;
}
.portfolio__item:hover .portfolio__item-content {
  opacity: 1;
}

@media screen and (max-width: 1540px) {
  .portfolio {
    min-height: 600px;
  }
  .portfolio__wrapper {
    min-height: 580px;
    justify-content: space-around;
  }
  .portfolio__item {
    width: 400px;
  }
  .portfolio__item img {
    width: 100%;
  }
}
@media screen and (max-width: 1270px) {
  .portfolio__wrapper {
    flex-direction: column;
    align-items: center;
    min-height: 720px;
    row-gap: 30px;
    padding: 80px 10px 0;
  }
  .portfolio__item {
    width: 500px;
  }
}
.code {
  background: url(/img/CODE_bg.png);
  height: 900px;
}
.code__wrapper {
  max-width: 1700px;
  height: 710px;
  margin: 0 auto;
  overflow: auto;
  position: relative;
  top: 120px;
}
.code__wrapper::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, 0.3);
  width: 16px;
}
.code__wrapper::-webkit-scrollbar-thumb {
  background-color: rgb(0, 255, 240);
}
.code__content {
  width: 100%;
  height: 2000px;
  background: rgba(0, 0, 0, 0.4);
}
.code__content pre {
  color: #fff;
  font-size: 24px;
  padding: 45px 0 0 80px;
  margin: 0;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
}
.code__content pre .red {
  color: rgb(201, 68, 72);
}
.code__content pre .grean {
  color: rgb(0, 255, 240);
}

@media screen and (max-width: 1750px) {
  .code__wrapper {
    max-width: calc(100% - 30px);
  }
}
@media screen and (max-width: 1560px) {
  .code__content pre {
    font-size: 20px;
  }
}
@media screen and (max-width: 1320px) {
  .code__content pre {
    font-size: 18px;
    padding: 30px 0 0 40px;
  }
}
.contacts {
  min-height: 400px;
  background: rgb(29, 29, 29);
}
.contacts h3 {
  color: #fff;
  margin: 0;
  text-align: center;
  padding: 60px 0 0 0;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 32px;
  text-transform: uppercase;
}
.contacts__content {
  max-width: 1460px;
  margin: 80px auto 0;
  padding: 0 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contacts__content a {
  box-shadow: -25px -25px 60px rgba(61, 61, 61, 0.3), 25px 25px 60px rgba(0, 0, 0, 0.3);
  position: relative;
}
.contacts__content a img {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.contacts__content a:nth-child(1), .contacts__content a:nth-child(7) {
  width: 80px;
  height: 80px;
}
.contacts__content a:nth-child(2), .contacts__content a:nth-child(6) {
  width: 100px;
  height: 100px;
}
.contacts__content a:nth-child(3), .contacts__content a:nth-child(5) {
  width: 120px;
  height: 120px;
}
.contacts__content a:nth-child(4) {
  width: 140px;
  height: 140px;
}
.contacts__content a:hover {
  box-shadow: inset 25px 25px 30px rgba(0, 0, 0, 0.3), inset -25px -25px 30px rgba(36, 35, 35, 0.3);
}
.contacts__content a:hover img {
  filter: invert(77%) sepia(75%) saturate(921%) hue-rotate(109deg) brightness(105%) contrast(104%);
}

.footer {
  height: 70px;
  background: rgb(24, 24, 24);
}
.footer__wrapper {
  width: calc(100% - 60px);
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__wrapper a, .footer__wrapper p {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: #fff;
}
.footer__wrapper p {
  height: 29px;
  display: flex;
  max-width: 270px;
  flex: 1;
  justify-content: space-between;
}
.footer__wrapper p a {
  display: block;
  height: 29px;
}
.footer__wrapper p a:hover img {
  filter: brightness(0) saturate(100%) invert(99%) sepia(82%) saturate(3749%) hue-rotate(94deg) brightness(100%) contrast(105%);
}
.footer__wrapper a:nth-child(3) {
  max-width: 205px;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

body {
  margin: 0;
}

.page-wrapper {
  max-width: 1920px;
  position: relative;
  overflow-x: hidden;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

h2 {
  margin: 0;
}/*# sourceMappingURL=style.css.map */